
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');




/*html,
body {
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: linear-gradient(315degm #FFF, #D7E1EC);
}*/
*:focus,
*:active {
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
}
.wrapper {
    display: flex;
    justify-content: center;
    font-family: poppins, monospace
    

}

.wrapper .icon {
    position: relative;
    background-color: #FFF;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background-color: #FFF;
    color: #FFF;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip{
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .tooltip::before{
    position: absolute;
    content: '';
    height: 8px;
    width: 8px;
    background-color: #FFF;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip:before {
    background-color: #3B5999;
    color: #FFF;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip:before {
    background-color: #46C1F6;
    color: #FFF;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip {
    background: linear-gradient(0deg,#feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    color: #FFF;
}
.wrapper .instagram:hover .tooltip:before {
    background: linear-gradient(-45deg,#feda75 50%, #fa7e1e);
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip:before {
    background: #333;
    color: #FFF;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip:before {
    background: #E21E10;
    color: #FFF;
}