.contacto{
    background-color: rgba(0, 0, 0, 0.205);
    height: 90%; 
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #a4be7b; 
    padding-left: 30px; 

    
}

label{
    color: rgba(0, 0, 0, 0.781);
    
}

.letra{
    color: white;

}

footer{
    font-family: 'Bebas Neue', sans-serif;
}