


.formulario{
  
  background-color: transparent;
  border: solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  

width: 500px;
z-index: 2;
  border-radius: 15px;
  box-shadow: 0 10px 15px black;


}

.btn{
  display: flex;
  justify-content: center;
  justify-items: center;
   margin-top: 20px;
}

.titulo h1{
  padding-bottom: 15px;
}



.labeltexto{
  color: black !important;

}

